<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="shortcut icon" th:href="@{FrontEnd/assets/images/favicon/1.png}" type="image/x-icon">
    <title>On-demand last-mile delivery</title>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" th:href="@{/Frontend/assets/css/styleone.css}">
    <style>
        .table {
            table-layout: fixed; /* Cố định kích thước của các cột */
            width: 100%; /* Đảm bảo bảng chiếm hết chiều rộng của container */
        }

        .table td {
            word-wrap: break-word; /* Cho phép nội dung tự động xuống dòng */
            white-space: normal; /* Cho phép xuống dòng trong ô */
            overflow: hidden; /* Ẩn phần nội dung nếu quá chiều rộng */
            max-width: 200px; /* Giới hạn chiều rộng cột */
            text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung vượt quá */
        }

        .table tbody tr {
            border-bottom: 1px solid #ddd; /* Vạch ngang giữa các hàng */
        }

        .table tbody tr:last-child {
            border-bottom: none; /* Loại bỏ vạch ngang ở hàng cuối cùng */
        }

    </style>
</head>

<body class="bg-light">
<section class="theme-invoice-1">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-8 mx-auto my-3">
                <div class="invoice-wrapper">
                    <div class="invoice-header">
                        <div class="header-image">
                            <img th:src="@{FrontEnd/assets/images/logo.png}" class="img-fluid" alt="logo">
                        </div>
                        <div class="header-content">
                            <h3>Hóa Đơn</h3>
                        </div>
                    </div>
                    <div class="invoice-body">
                        <div class="top-sec">
                            <div class="row" style="text-align: left">
                                <div class="col-12">
                                    <div class="details-box" style="display: inline-block; ">
                                        <div class="address-box">
                                            <ul>
                                                <h5 class="theme-color">Khách hàng</h5>
                                                <li th:text="${'Tên: '+rightNavOrderDetailUserResponses.userNameUser}"
                                                    class="theme-color">Tên
                                                </li>
                                                <li th:text="${'Email: '+rightNavOrderDetailUserResponses.userEmail}"
                                                    class="theme-color">Email
                                                </li>
                                                <li th:if="${rightNavOrderDetailUserResponses.userAddress != ''}"
                                                    th:text="${'Địa chỉ: '+rightNavOrderDetailUserResponses.userAddress}"
                                                    class="theme-color">Địa chỉ
                                                </li>
                                                <li th:if="${rightNavOrderDetailUserResponses.userPhone != ''}"
                                                    th:text="${'SDT: '+rightNavOrderDetailUserResponses.userPhone}"
                                                    class="theme-color">SDT
                                                </li>

                                                <li th:if="${rightNavOrderDetailUserResponses.userAddress == ''}"
                                                    th:text="${' :Địa chỉ'+rightNavOrderDetailUserResponses.userAddress}"
                                                    class="theme-color">Địa chỉ
                                                </li>
                                                <li th:if="${rightNavOrderDetailUserResponses.userPhone == ''}"
                                                    th:text="${' :SDT'+rightNavOrderDetailUserResponses.userPhone}"
                                                    class="theme-color">SDT
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="address-box">
                                            <ul>
                                                <h5 class="theme-color">Nơi nhận hàng</h5>
                                                <li th:text="${'Tên: '+rightNavOrderDetailUserResponses.fullNameShip}">
                                                    Tên
                                                </li>
                                                <li th:text="${'Email: '+rightNavOrderDetailUserResponses.emailShip}">
                                                    Email
                                                </li>
                                                <li th:text="${'Địa chỉ: '+rightNavOrderDetailUserResponses.addressShip}">
                                                    Địa chỉ
                                                </li>
                                                <li th:text="${'SDT: '+rightNavOrderDetailUserResponses.phoneShip}">
                                                    SDT
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-table">
                            <div class="table-responsive"  >
                                <table class="table" style="border: 2px solid #939393">
                                    <thead>
                                    <tr style="border-bottom: 2px solid #939393">
                                        <th style="border-left: 2px solid #939393">Trạng thái Order</th>
                                        <th>Ngày Order</th>
                                        <th style="border-right: 2px solid #939393">Order Code</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="border-left: 2px solid #939393" th:if="${rightNavOrderDetailUserResponses.orderStatus == 'PENDING'}"
                                            th:text="${'Đang chờ'}"
                                            >Đang chờ</td>
                                        <td style="border-left: 2px solid #939393" th:if="${rightNavOrderDetailUserResponses.orderStatus == 'CONFIRMED'}"
                                              th:text="${'Đã xác nhận'}"
                                             >Đã xác nhận</td>
                                        <td style="border-left: 2px solid #939393" th:if="${rightNavOrderDetailUserResponses.orderStatus == 'DELIVERED'}"
                                             th:text="${'Đang giao hàng'}"
                                             >Đang giao hàng</td>
                                        <td style="border-left: 2px solid #939393" th:if="${rightNavOrderDetailUserResponses.orderStatus == 'CANCELLED'}"
                                               th:text="${'Đã hủy'}" class="danger-bg">Đã hủy</td>
                                        <td th:text="${rightNavOrderDetailUserResponses.formatOrderDate()}"></td>
                                        <td style="border-right: 2px solid #939393" th:text="${rightNavOrderDetailUserResponses.orderCode}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="invoice-table-2">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Tổng tiền</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Người bán</th>
                                        <th class="text-start">Sản phẩm</th>
                                        <th>STT</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderDetail, iterStat  : ${orderDetailUserResponses}">
                                        <td th:text="${#numbers.formatInteger(orderDetail.productTotalPrice, 0, 'POINT') + '₫'}"
                                            class="price theme-color"></td>
                                        <td th:text="${#numbers.formatInteger(orderDetail.productPrice, 0, 'POINT') + '₫'}"
                                            class="price theme-color"></td>
                                        <td class="text-title" th:text="${orderDetail.quantity}">quanity</td>
                                        <td class="text-title" th:text="${orderDetail.sellerName}"></td>
                                        <td class="text-title" th:text="${orderDetail.productName}"></td>
                                        <td class="text-content" th:text="${iterStat.index + 1}">1</td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="price-box">
                            <ul th:if="${rightNavOrderDetailUserResponses.voucherCode != ''}">
                                <li>
                                    <h4 th:text="${#numbers.formatInteger(rightNavOrderDetailUserResponses.totalAmount, 0, 'POINT') + '₫'}"
                                        class="price theme-color"></h4>
                                </li>
                                <li>Tổng trước voucher</li>
                            </ul>
                            <ul th:if="${rightNavOrderDetailUserResponses.voucherCode != ''}">
                                <li>
                                    <h4 th:text="${#numbers.formatInteger(rightNavOrderDetailUserResponses.discountAmount, 0, 'POINT') + '₫'}"
                                        class="price theme-color"></h4>
                                </li>
                                <li>
                                    <span th:text="${'('+rightNavOrderDetailUserResponses.voucherCode+')'}"></span>
                                    Voucher
                                </li>
                            </ul>
                            <ul>
                                <li th:text="${#numbers.formatInteger(rightNavOrderDetailUserResponses.finalAmount, 0, 'POINT') + '₫'}"
                                    class="price theme-color">$325.00
                                </li>
                                <li>Tổng cộng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="invoice-footer">
                        <div class="signature-box">
                            <img th:src="@{FrontEnd/assets/images/sign.png}" class="img-fluid" alt="">
                            <h5>Chữ kí</h5>
                        </div>

                        <div class="button-group">
                            <ul>
                                <li style="margin-right: 59%; margin-bottom: 10px">
                                    <button class="btn theme-bg-color text-white rounded"
                                            onclick="window.print();">Xuất File dưới dạng PDF
                                    </button>
                                </li>
                                <li style="margin-right: 59%">
                                    <form th:action="@{/home}" method="post">
                                        <button type="submit" class="btn theme-bg-color text-white rounded">Trở về trang
                                            chủ nhé
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>