<!-- Product Section Start -->
<section class="product-section-2" th:fragment="topsection">
    <div class="container-fluid-lg">
        <div class="row gy-sm-5 gy-4">
            <div class="col-xxl-3 col-md-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="title title-border d-block">
                            <h3>SẢN PHẨM MỚI</h3>
                        </div>

                        <div class="product-category-1 arrow-slider-2">
                            <div th:each="group : ${groupedProductsTop9}">
                                <div th:each="product : ${group}" class="row gy-sm-4 gy-3">
                                    <div class="col-12">
                                        <div class="product-box-4 wow fadeInUp">
                                            <a th:href="@{/productDetail(productId=${product.productId})}" class="product-image">
                                                <img th:src="@{${product.imageUrlGallery}}" class="img-fluid"
                                                     alt="">
                                            </a>
                                            <div class="product-details">
                                                <ul class="rating">
                                                    <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                        <i data-feather="star"
                                                           th:classappend="${i <= product.ratingProductDetail} ? 'fill' : ''">
                                                        </i>
                                                    </li>
                                                </ul>
                                                <span th:text="${ '(' + product.ratingCount + ')'}">Rating count</span>
                                                <a th:href="@{/productDetail(productId=${product.productId})}">
                                                    <h4 th:text="${product.productName}" class="name">Product name</h4>
                                                </a>
                                                <h5 th:text="${#numbers.formatInteger(product.productPrice, 0, 'POINT') + '₫'}" class="price">
                                                    Product price smallest in ProductDetail
                                                </h5>
                                                <ul class="option">
                                                    <li th:if="${session.account != null}" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="Add to Cart">
                                                        <div class="price-qty">
                                                            <button class="buy-button buy-button-2 btn btn-cart notifi-addtocart"
                                                                    th:data-productcartid="${product.productId}"
                                                            >
                                                                <i class="iconly-Buy icli"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li th:if="${session.account != null}" data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        title="Wishlist">
                                                        <button class="btn p-0 wishlist notifi-wishlist"
                                                                th:data-productid="${product.productId}"
                                                                type="button">
                                                            <i class="iconly-Heart icli"></i>
                                                        </button>
                                                    </li>
                                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                                        <a href="javascript:void(0)"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#view"
                                                           th:data-product-id="${product.productId}">
                                                            <i class="iconly-Swap icli"></i>
                                                        </a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-md-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="title title-border d-block">
                            <h3>SẢN PHẨM GIÁ CAO NHẤT</h3>
                        </div>

                        <div class="product-category-1 arrow-slider-2">
                            <div th:each="group : ${groupedProductsPriceTop9}">
                                <div th:each="product : ${group}" class="row gy-sm-4 gy-3">
                                    <div class="col-12">
                                        <div class="product-box-4 wow fadeInUp">
                                            <a th:href="@{/productDetail(productId=${product.productId})}" class="product-image">
                                                <img th:src="@{${product.imageUrlGallery}}" class="img-fluid"
                                                     alt="">
                                            </a>
                                            <div class="product-details">
                                                <ul class="rating">
                                                    <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                        <i data-feather="star"
                                                           th:classappend="${i <= product.ratingProductDetail} ? 'fill' : ''">
                                                        </i>
                                                    </li>
                                                </ul>
                                                <span th:text="${ '(' + product.ratingCount + ')'}">Rating count</span>
                                                <a th:href="@{/productDetail(productId=${product.productId})}">
                                                    <h4 th:text="${product.productName}" class="name">Product name</h4>
                                                </a>
                                                <h5 th:text="${#numbers.formatInteger(product.productPrice, 0, 'POINT') + '₫'}" class="price">
                                                    Product price smallest in ProductDetail
                                                </h5>
                                                <ul class="option">
                                                    <li th:if="${session.account != null}" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="Add to Cart">
                                                        <div class="price-qty">
                                                            <button class="buy-button buy-button-2 btn btn-cart notifi-addtocart"
                                                                    th:data-productcartid="${product.productId}"
                                                            >
                                                                <i class="iconly-Buy icli"></i>
                                                            </button>
                                                        </div>
                                                    </li>

                                                    <li th:if="${session.account != null}" data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        title="Wishlist">
                                                        <button class="btn p-0 wishlist notifi-wishlist"
                                                                th:data-productid="${product.productId}"
                                                                type="button">
                                                            <i class="iconly-Heart icli"></i>
                                                        </button>
                                                    </li>
                                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                                        <a href="javascript:void(0)"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#view"
                                                           th:data-product-id="${product.productId}">
                                                            <i class="iconly-Swap icli"></i>
                                                        </a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-md-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="title title-border d-block">
                            <h3>ĐÁNH GIÁ HÀNG ĐẦU</h3>
                        </div>

                        <div class="product-category-1 arrow-slider-2">
                            <div th:each="group : ${groupedProductsRatingTop9}">
                                <div th:each="product : ${group}" class="row gy-sm-4 gy-3">
                                    <div class="col-12">
                                        <div class="product-box-4 wow fadeInUp">
                                            <a th:href="@{/productDetail(productId=${product.productId})}" class="product-image">
                                                <img th:src="@{${product.imageUrlGallery}}" class="img-fluid"
                                                     alt="">
                                            </a>
                                            <div class="product-details">
                                                <ul class="rating">
                                                    <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                        <i data-feather="star"
                                                           th:classappend="${i <= product.ratingProductDetail} ? 'fill' : ''">
                                                        </i>
                                                    </li>
                                                </ul>
                                                <span th:text="${ '(' + product.ratingCount + ')'}">Rating count</span>
                                                <a th:href="@{/productDetail(productId=${product.productId})}">
                                                    <h4 th:text="${product.productName}" class="name">Product name</h4>
                                                </a>
                                                <h5 th:text="${#numbers.formatInteger(product.productPrice, 0, 'POINT') + '₫'}" class="price">
                                                    Product price smallest in ProductDetail
                                                </h5>
                                                <ul class="option">
                                                    <li th:if="${session.account != null}" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="Add to Cart">
                                                        <div class="price-qty">
                                                            <button class="buy-button buy-button-2 btn btn-cart notifi-addtocart"
                                                                    th:data-productcartid="${product.productId}"
                                                            >
                                                                <i class="iconly-Buy icli"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li th:if="${session.account != null}" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Wishlist">
                                                        <button class="btn p-0 wishlist notifi-wishlist"
                                                                th:data-productid="${product.productId}"
                                                                type="button">
                                                            <i class="iconly-Heart icli"></i>
                                                        </button>
                                                        <script>
                                                            $(function () {
                                                                $(document).on('click', '.notifi-wishlist', async function () {
                                                                    const btn = $(this);
                                                                    const userId = "[[${session.accountId}]]";
                                                                    const id  = btn.data('productid');
                                                                    if (!id || btn.prop('disabled')) return;

                                                                    btn.prop('disabled', true);
                                                                    console.log("hello"+id);
                                                                    try {
                                                                        await axios.post(`http://localhost:8080/AgriculturalWarehouseManagementApplication/wishlistProduct/${userId}/${id}`);
                                                                    } catch (e) {
                                                                        console.error(e); toast('❌ Error');
                                                                    } finally {
                                                                        btn.prop('disabled', false);
                                                                    }
                                                                });

                                                                function toast(m){ alert(m); }               // thay bằng toast đẹp nếu muốn
                                                            });
                                                        </script>
                                                    </li>
                                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                                        <a href="javascript:void(0)"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#view"
                                                           th:data-product-id="${product.productId}">
                                                            <i class="iconly-Swap icli"></i>
                                                        </a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Section End -->
